[Unit]
Description=Run lmslog every 15 minutes

[Timer]
OnBootSec=5m
#OnCalendar=*:*:0,15,30,45
#systemd-analyze calendar *:0/15
OnCalendar=*:0/15
Unit=lmslog.service

[Install]
WantedBy=timers.target