[Unit]
Description=send lms.service status to getlms.log

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "journalctl -u lms >> /storage/Tomato/logs/getlms.log"